R/.ipynb_checkpoints
src/.ipynb_checkpoints
.ipynb_checkpoints
.RData
.Rhistory
R/.RData
R/.Rhistory
man/.ipynb_checkpoints
man/figures/.ipynb_checkpoints
vignettes/testing_*
inst/doc
pre-built_references/*.rds
pre-built_references/*uwot*
